.outerChatContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}

.innerChatContainer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#fff;
    border-radius:5px;
    height:60%;
    width:35%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .outerChatContainer {
      height: 100%;
    }
  
    .innerChatContainer {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .innerChatContainer {
      width: 60%;
    }
  }